.displayContainer {
    position: relative;
    width: 100%;
    color: #ffffff;
}

.displayValue {
    position: absolute;
    bottom: 0.5rem;
    right: 0.1rem;
    font-size: 2rem;
    max-width: 100%;
    word-wrap: break-word;
}